<section class="chat__section">
    <div class="brand">
        <h1>Wassup</h1>
    </div>
    <div class="message__area"></div>
    <div>
        <input type="hidden" id="sameers" name="userId" value="<%= user.name %>">
        <textarea id="textarea" cols="30" rows="1" placeholder="Write a message..."></textarea>
    </div>
</section>