<section id = "services">
    <div class="contact-image">
        <div class="fixed-back">
            <span>NEW ALL SERVICES</span>   
        </div>
        <div class="contact-image-2">
            <span><span>HOME / SERVICES / </span> NEW ALL SERVICES</span>
        </div>
    </div>
    <div class="container">
        <div class="container-1">
            <img class="img-1" src="office.jpg">
            <div class="container-data">
            <h1>Hospitaly Design</h1>
            <p>This is where the synergy of DECOINC hospitality really comes into
                play. As more businesses introduce flexible working for staff,
                DECOINC increasingly being used as co-working hubs or for meeting
                space. Individuals or small groups visit with their laptops and expect
                to find a space they can plug in and work – hopefully spending money
                on food and drink in the hotel restaurants and cafes while they are
                there. Hotels have seen the profitability in this, and so are furnishing
                these spaces accordingly.
                Whether the space is officially designated as a co-working space, or
                an area that informally encourages people to work there, the thinking
                behind the design is the same. The area needs to provide collaborative
                furniture items such a long bench tables for groups to work around,
                comfortable and supportive seating, plus readily accessible power
                supply for laptop, tablet and smartphone plug in.</p>
            </div>
        </div>
        <hr>
        <div class="container-1">
            <img class="img-2" src="residence.jpg">
            <div class="container-data">
            <h1>Residential Design</h1>
            <p>Architects have an important job: building structures that will fulfil
                people&#39;s needs while being structurally safe and sound. But here&#39;s the
                thing: you can create the greatest building in the world, but nobody&#39;s
                going to use it if the inside is a mess. Interior design is an integral
                part of architecture, focused on creating interior spaces that make the
                building both functional and aesthetically appealing. Still, we have
                different kinds of buildings, so it makes sense that we have different
                kinds of interior designs. One of the biggest arenas for designers
                is residential design, or the interiors of spaces in which people live.
                DECOINC can include houses, apartments, condos, and anywhere
                else where people reside. The architect may build the house, but it&#39;s
                the designer&#39;s job to make it a home.</p>
                
            </div>
            <img class="img-3" src="residence.jpg">
        </div>
        <hr>
        <div class="container-1">
            <img class="img-1" src="office.jpg">
            <div class="container-data">
            <h1>Office Design</h1>
            <p>DECOINC designers along with our in-house designs also creates
                office designs that connect with the user both aesthetically and
                functionally
                The spaces are intuitive ,simple and humanized .We uniquely offer a
                360 degrees fully integrated design service that provides end to end
                workplace solutions which includes branding, sustainability,
                Security and employee willness.
                At every stage, we work in collaboration with our clients
                offering high value consulting advice
                To create innovative spaces accurately to reflect a company brand
                values and culture.
                Our integrated lean methodology allows our own designers,
                technical teams, and project</p>
            </div>
        </div>
        <hr>
        <div class="container-1">
            <img class="img-2" src="office.jpg">
            <div class="container-data">
            <h1>Commercial Design</h1>
            <p>DECOINC commercial interior design encompass a wide range
                of interior decorators offering
                Designs that are highly professional in nature.
                We ensure that our clients receive the very but smart
                commercial interior design, traditional commercial interior design or
                modern interior commercial design all in accordance to their likeness
                and their company’s brand feel.
                DECOINC interiors are well-versed in all the technical know-
                how along with industry knowledge to provide for the most functional
                and productive commercial space design.
                Our designed spaces comes with the latest access control systems,
                surveillance systems and hybrid writing.</p>
            </div>
            <img class="img-3" src="office.jpg">
        </div>
        <hr>
    </div>
</section>